<!-- <div class="container">
  <div class="product" *ngFor="let product of products">
    <h1>{{ product.name }}</h1>
    <img [src]="product.product_img" />
    <p>{{ product.price }}</p>
  </div>
</div> -->

<!--strhgrthdrthrd  -->

<div class="container">
  <mat-card class="product-card" *ngFor="let product of products">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          mat-card-image
          [src]="product.product_img"
          alt="product-1"
          style="border-radius: 50%; margin-right: 5px;"
        />
      </div>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.product_img" alt="product-1" />
    <mat-card-content>
      <p>{{ product.price }} $</p>
    </mat-card-content>
    <mat-card-actions class="card-footer">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
