.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.product {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: center;
  width: calc(100% / 4);
  margin-left: 20px;
  margin-right: 20px;
}
.product h1 {
  border: 1px solid red;
  margin: 0;
  margin-bottom: 10px;
}
.product img {
  border: 1px solid red;
  margin: auto;
}

.product p {
  border: 1px solid red;
}

.product-card {
  max-width: 400px;
  margin: 10px;
}
.card-footer {
  display: flex;
  justify-content: center;
}
.card-footer button {
  border: 1px solid red;
}
