<mat-card>
  <h1>Register</h1>
  <form [formGroup]="formRegister">
    <!-- Feild name   -->
    <mat-form-field class="inputfeild">
      <mat-label>*Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        name="name"
        placeholder="Your Name"
      />
    </mat-form-field>
    <ng-container
      *ngIf="
        formRegister.get('name').errors && formRegister.get('name').touched
      "
    >
      <mat-error *ngIf="formRegister.get('name').errors.required">
        name is required
      </mat-error>
      <mat-error
        *ngIf="formRegister.get('name').errors.minlength as minlengthError"
      >
        *Name must be at least
        {{ minlengthError.requiredLength }} chars but you enterd
        {{ minlengthError.actualLength }} chars
      </mat-error>
      <mat-error
        *ngIf="formRegister.get('name').errors.maxlength as maxlengthError"
      >
        Name must be at most
        {{ maxlengthError.requiredLength }} chars but you enterd
        {{ maxlengthError.actualLength }} chars
      </mat-error>
      <mat-error *ngIf="formRegister.get('name').errors.pattern">
        invalid formate
      </mat-error>
    </ng-container>
    <!-- Feild email   -->
    <mat-form-field class="inputfeild">
      <mat-label>*Email</mat-label>
      <input
        matInput
        name="email"
        formControlName="email"
        type="email"
        placeholder="Your Email"
      />
    </mat-form-field>
    <ng-container
      *ngIf="
        formRegister.get('email').errors && formRegister.get('email').touched
      "
    >
      <mat-error *ngIf="formRegister.get('email').errors.required">
        *Email Feild is required
      </mat-error>

      <mat-error *ngIf="formRegister.get('email').errors.email">
        invalid Email
      </mat-error>
    </ng-container>
    <!-- Feild password   -->
    <mat-form-field class="inputfeild">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        name="password"
        formControlName="password"
        placeholder="Your Password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <ng-container
      *ngIf="
        formRegister.get('password').errors &&
        formRegister.get('password').touched
      "
    >
      <mat-error *ngIf="formRegister.get('password').errors.required">
        Password Feild is required
      </mat-error>

      <mat-error
        *ngIf="formRegister.get('password').errors.minlength as minLengthError"
      >
        password Should be at least {{ minLengthError.requiredLength }} but you
        entered
        {{ minLengthError.actualLength }}
      </mat-error>
      <mat-error
        *ngIf="formRegister.get('password').errors.maxlength as maxLengthError"
      >
        password Should be at most {{ maxLengthError.requiredLength }} but you
        entered
        {{ maxLengthError.actualLength }}
      </mat-error>
      <mat-error
        *ngIf="formRegister.get('password').errors.pattern as patternError"
      >
        InValid Formate
      </mat-error>
    </ng-container>
    <mat-form-field class="inputfeild">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        type="password"
        name="confirmpassword"
        formControlName="confirmpassword"
        placeholder="confirmed password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <ng-container
      *ngIf="
        formRegister.get('confirmpassword').errors &&
        formRegister.get('confirmpassword').touched
      "
    >
      <mat-error *ngIf="formRegister.get('confirmpassword').errors.required">
        confirm password Feild is required
      </mat-error>

      <mat-error
        *ngIf="
          formRegister.get('confirmpassword').errors.minlength as minLengthError
        "
      >
        confirmpassword Should be at least
        {{ minLengthError.requiredLength }} but you entered
        {{ minLengthError.actualLength }}
      </mat-error>
      <mat-error
        *ngIf="
          formRegister.get('confirmpassword').errors.maxlength as maxLengthError
        "
      >
        confirmpassword Should be at most
        {{ maxLengthError.requiredLength }} but you entered
        {{ maxLengthError.actualLength }}
      </mat-error>
      <mat-error
        *ngIf="
          formRegister.get('confirmpassword').errors.pattern as patternError
        "
      >
        InValid Formate
      </mat-error>
    </ng-container>
  </form>
  <button mat-raised-button color="warn">reset</button>
  <button mat-raised-button color="primary" (click)="register()">
    Register
  </button>
  <span> already have an account ? <a routerLink="/login"> Login </a> </span>
</mat-card>

{{ formRegister.get("name").errors | json }}
